.comparacao {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top:  0;
    width: 100%;
    z-index: 1;
}
.comparacao-container {
    align-items: center;
    background-color: var(--cinza-claro);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: auto;
    padding: 2rem;
    position: relative;
    text-transform: uppercase;
    width: 1000px;
}

.comparacao-botao--fechar {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    position: absolute;
    right: 10px;
    top: 3px;
}
.comparacao-div {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 100%;
}
.comparacao-lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    width: 40%;
}
.comparacao-item {
    height: 24px;
    margin: 5px 0;
    overflow: hidden;
}
.vermelho {
    color: #b33a3a;
}
.verde {
    color: #4aaa4a;
}
.barato {
    color: #4aaa4a;
}
.comparacao-x {
    height: 150px;
    margin: 0 1rem;
    width: 150px;
}
.comparacao-resultado {
    font-size: 1rem;
    height: auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
}