.favoritos {
    padding: 1rem;
    width: 350px;
    height: auto;
    flex-shrink: 0;
}
.favoritos-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.favoritos-titulo-lista {
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    color: white;
}
.favoritos-item {
    text-decoration: none;
    height: 18px;
    margin-top: 1rem;
    overflow: hidden;
}
.favoritos-item h2:hover {
    color: gray;
}
.favoritos-item.active {
    color: rgb(84, 194, 84);
}
.favoritos-item h2 {
    font-size: 0.7rem;
    display: inline-block;
    cursor: pointer;
}
.favoritos-btn--comparar {
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(1, 1, 104, 0.61);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
}
.favoritos-btn--comparar:hover {
    background-color: rgba(1, 1, 104);
    border: none;
}